/* CONTENEDOR (pone todo lado a lado) */

.contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    padding: 30px 20px 40px;
    overflow: hidden;
}

/* IMAGEN */
.imagen-planta {
    margin-top: 140px;
    width: 50%;
    border-radius: 30px;
    box-shadow: 1px 2px 5px  #555;
}

/* TARJETA INFO */
.info {
    background: rgb(248, 246, 241);;
    padding: 46px;
    height: 700px;
    border-radius:20px 0 0 20px;
    width: 525px;
    border: 1px solid #d0d0d0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    position: relative;
    right: -80px; 
}
.infoplanta{
 text-align: left;
    font-size: 20px;
    width: 400px;
    line-height: 1.2;
    margin: auto;
}

/* BOTÓN */
button {
    width: 70%;
    height: 45px;
    margin: 10px 30px 50px 55px;
    border: none;
    border-radius: 15px;
    background: #7da46c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imgvolver{
    height: 60px;
    width: 60px;
    position: absolute;
    margin: 0;
    margin-bottom: 0; 
    display: block;
}
/* OPCIONAL: HOVER BONITO */
.info button:hover {
    background: #5f8a52;
}
/* fila */
.datos {
    display: flex;
    gap: 30px;
}

/* cada bloque */
.dato {
    text-align: center;
    font-size: 15px;
    color: gray;
    align-items: center;
}

/* 🔵 CÍRCULO */
.icono {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 50%; /* esto lo hace redondo */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* imagen dentro */
.icono img {
    width: 35px;
    height: 35px;

}
.link {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0;
    color: gray;
}
.link:visited {
    color: gray;
}

.link:hover {
    color: #555;
}

.link:active {
    color: rgb(79, 121, 91);
}